---
BasedOnStyle: Mozilla
IndentWidth: 8
Language: Cpp

AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignEscapedNewlines: Left
AlignTrailingComments: true

AllowShortCaseLabelsOnASingleLine: false
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: true

AlwaysBreakAfterReturnType: AllDefinitions

BraceWrapping: {
  AfterClass: false,
  AfterControlStatement: false,
  AfterEnum: true,
  AfterFunction: true,
  AfterNamespace: false,
  AfterStruct: false,
  AfterUnion: false,
  BeforeElse: false,
  IndentBraces: false,
}

BreakBeforeBraces: Custom
BreakBeforeBinaryOperators: NonAssignment

ColumnLimit: 120

IndentCaseLabels: false
IndentWrappedFunctionNames: false

KeepEmptyLinesAtTheStartOfBlocks: false

MaxEmptyLinesToKeep: 2

PointerAlignment: Right

SortIncludes: false

SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 1
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false

TabWidth: 8
UseTab: ForIndentation
...
