**/.DS_Store
*.o
*.tmp
*.d
*.swp
*.ko
*.cmd
*.a
*.bin
*~
*.sw*
*#
.#*
**/.DS_Store
.fn_dependencies
.fn_exports
.exported_interfaces
composite_new
*.out
data.iso
tags
src/components/lib/musl-1.1.11/bin/musl-gcc
src/kernel/include/shared/cpu_ghz.h
src/Makefile.cosconfig
src/PLATFORM_ID
modules.order
.depend
*.img
*.out
transfer/
GPATH
GRTAGS
GSYMS
GTAGS
tools/.vagrant
.vagrant
.clang_complete
Vagrantfile
provision.sh
sl_bind_check
src/components/lib/ck/include
src/components/lib/ck/lib
src/components/lib/ck/share
src/platform/linux/*
