[submodule "src/components/lib/ps/ps"]
	path = src/components/lib/ps/ps
	url = https://github.com/gwsystems/ps.git
	branch = master
[submodule "src/components/lib/ck/ck"]
	path = src/components/lib/ck/ck
	url = https://github.com/gwsystems/ck.git
	branch = cos_profile
[submodule "src/components/lib/dpdk/dpdk"]
	path = src/components/lib/dpdk/dpdk
	url = http://github.com/DPDK/dpdk.git
