**/.DS_Store
**/.vscode
*.o
*.tmp
*.d
*.swp
*.ko
*.cmd
*.a
*~
*.sw*
*#
.#*
.fn_dependencies
.fn_exports
.exported_interfaces
composite_new
*.out
tags
src/kernel/include/chal/shared/cpu_ghz.h
src/platform/x86_64/gdb*
src/platform/x86_64/grub.cfg
src/platform/x86_64/qemu.sh
src/components/lib/libc/musl-1.1.11/bin/musl-gcc
src/Makefile.cosconfig
src/Makefile.arch
src/.PLATFORM_ID
modules.order
.depend
*.img
*.bin
transfer/
GPATH
GRTAGS
GSYMS
GTAGS
.vagrant
.clang_complete
Vagrantfile
provision.sh
src/components/lib/ck/include
src/components/lib/ck/lib
src/components/lib/ck/share
src/kernel/include/chal
src/platform/*/chal/shared/cpu_ghz.h
src/components/lib/libc/libc.READY
doc/dev_manual/composite_dev_manual.pdf
doc/dev_manual/resources/*.pdf
system_binaries/cos_build-*
src/components/lib/libc/musl-1.2.0/include/bits/
src/components/lib/libc/musl-1.2.0/bin/
constructor
kernel.iso
grub.cfg
gdbinit
src/components/lib/libc/musl-1.2.0/include/asm/
src/components/lib/libc/musl-1.2.0/include/asm-generic/
src/components/lib/libc/musl-1.2.0/include/linux/
src/components/lib/libc/musl-1.2.0/include/sys/queue.h
src/kernel/include/shared/cpu_ghz.h
