*.o
*.tmp
*.d
*.swp
*.ko
*.cmd
*.a
*.bin
*~
*.sw*
*#
.#*
.fn_dependencies
.fn_exports
.exported_interfaces
composite_new
tags
src/kernel/include/shared/cpu_ghz.h
src/Makefile.cosconfig
src/PLATFORM
modules.order
.depend
*.img
*.out
transfer/
GPATH
GRTAGS
GSYMS
GTAGS
