[submodule "src/components/lib/ps"]
	path = src/components/lib/ps
	url = https://github.com/gwsystems/ps.git
[submodule "boot-cos/u-boot-xlnx"]
	path = boot-cos/u-boot-xlnx
	url = https://github.com/gwsystems/u-boot-xlnx.git
